.thread {

}

.thread .post-user {
    color: forestgreen;
    font-weight: 700;
}

.thread .post-user .trip {
    color: blue;
}

.thread .post-user .trip.trip-admin {
    color: red;
}

.thread .post-title {
    color: darkblue;
    font-weight: 700;
}

.thread .post-nav {
    float: right;
}
