<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>texfuuin</title>

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.1.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/static/texfuuin.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">texfuuin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/post">New thread</a>#}
{#      </li>#}
    </ul>
  </div>
</nav>
<div class="container">
    <div class="card my-4">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="thread mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="post-title mr-4">{{ thread.title }}</span>
                    <span class="post-title-nav">
                            <small><a href="#todo">reply</a></small>
                        </span>
                </h5>
                <h6 class="card-subtitle">
                    <span class="post-user mr-4">{{ thread.user }}</span>
                    <span class="post-datetime text-muted">{{ thread.datetime }}</span>
                </h6>
                <p class="card-text post-message">{{ thread.message }}</p>

            </div>
            <ul class="list-group list-group-flush">
                {% for reply in thread.replies %}
                    <li class="list-group-item">
                        <div class="card-text">
                            <h6>
                                <span class="post-user mr-4">{{ reply.user }}</span>
                                <span class="post-datetime text-muted">{{ reply.datetime }}</span>
                            </h6>
                            <span class="post-message">{{ reply.message }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>