{% from 'thread.html' import render_thread %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>texfuuin</title>

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.1.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/static/texfuuin.css">
</head>
<body>
{% include 'nav.html' %}

<div class="container">
    {% if error is not none %}
        <div class="card text-white bg-info my-4">
            <div class="card-body">
            <h4 class="card-title">Could not do action</h4>
                <p class="card-text">
                    {% if config.error_msgs.get(error) %}
                        {{ config.error_msgs.get(error) }}
                    {% else %}
                        Unspecified error.
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}
    <div class="card my-4">
        <div class="card-body">
            <form action="{{ url_for('rt_new', post_id=thread.id if thread else None) }}" method="post">
                <h3>Reply</h3>
                <hr>
                {% if thread is none %}
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Thread title" required>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="user">User</label>
                    <input type="text" class="form-control" name="user" placeholder="Username"
                           value="{{ config.default_user }}" required>
                </div>
                <div class="form-group">
                    <label for="message">Body</label>
                    <textarea class="form-control" name="message" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% if thread is not none %}
         {{ render_thread(thread, config) }}
    {% endif %}
</div>

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

{% include 'editmodal.html' %}

</body>
</html>